body {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    background-color: #ffcb20;
    color: #6d1313;
}

#wrapper {
    background-color: #f1f1f1;
    padding-top: 2rem;
}

footer,
header {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color: #ffcb20;
}


header {
    background-image: url("../images/Spektrumband.png");
    background-repeat: no-repeat;
    background-position-y: 10%;
    background-position-x: 5%;
    background-size: 30%;
}

footer {
    padding-bottom: 1rem;
    border-top: #6d1313 1rem solid;
}

/* Navigation */

header>nav {
    background-color: #6d1313;
    text-align: center;
}

header>nav ul {
    list-style-type: none;
    margin: auto auto 0;
    overflow: hidden;
    padding: 0;
}

header>nav ul li {
    float: left;
    border-right: 1px solid lightblue;
    margin-bottom: 0;
    padding: 0;
}

header>nav ul li:last-child {
    border-right: none;
}

header>nav a {
    color: lightblue;
    display: block;
    padding: 0.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

header>nav a:hover {
    text-decoration: none;
    background-color: #4b1313;
}

/* images */

.resp-image {
    text-align: center;
}

.resp-image img {
    display: block;
    width: 50%;
    margin: auto;
}

footer>img {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 1rem;
}

/* Misc. */

address {
    width: 66vw;
    margin: auto;
    text-align: left;
    padding: 0.5rem 0 3rem;
}

/* lists */

li {
    list-style-position: inside;
}