// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

header {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color: $brand-color;
    background-image: image("Spektrumband.png");
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: 5px;
    background-size: 30% auto;
    border-bottom: $text-color 1rem solid;
    box-shadow: 0rem 0.1rem 0.2rem $very-dark-grey;

    /* images */

    .resp-image {
        text-align: center;
    }

    .resp-image img {
        display: block;
        width: 75%;
        max-width: 1368px;
        margin: 0 1em 0 1em;
        padding-top: 1em;

        @include respond-to('very-small') {
            margin-left: 2em;
        }

        @include respond-to('small') {
            margin: auto;
        }
    }
}