// -----------------------------------------------------------------------------
// This file contains all styles related to the header of the site/application.
// -----------------------------------------------------------------------------

@keyframes pop {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(1.8) translateY(35px);
    }
}

header {
    /* This section calls the slideInFromLeft animation we defined above */
    animation: 1s ease-out 0s 1 slideInFromLeft;

    background: #333;
    padding: 30px;
}

header {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color: $brand-color;
    background-image: image("Spektrumband.png");
    background-repeat: no-repeat;
    background-position-y: 24px;
    background-position-x: 5px;
    background-size: 30% auto;
    border-bottom: $text-color 1rem solid;
    box-shadow: 0rem 0.1rem 0.2rem $very-dark-grey;
    overflow: hidden;

    /* images */

    .resp-image {
        text-align: center;
        margin-top: 0em;
        height: 30vw;
        animation: pop 1.5s ease-out 0.3s forwards;
    }

    .resp-image img {
        display: block;
        width: 75%;
        max-width: 1368px;
        margin: auto;

        @include respond-to('very-small') {
            margin-left: 2em;
        }

        @include respond-to('small') {
            margin: auto;
        }
    }
}