// -----------------------------------------------------------------------------
// This file contains all styles related to the main section of the site/application.
// -----------------------------------------------------------------------------

#wrapper {
    padding: 0 0.5em 0 0.5em;
    max-width: 1200px;
    margin: auto;
}