// -----------------------------------------------------------------------------
// This file contains all styles related to the horizontal rule component.
// -----------------------------------------------------------------------------

hr {
    width: 35%;
    margin: auto;
    border-top: #f9f9f9 0.5rem dotted;
    margin-bottom: 2rem;
    background: #6d1313;
}