// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------


footer {
    width: 100vw;
    margin: auto;
    text-align: center;
    background-color: $brand-color;
}

footer {
    padding-bottom: 1rem;
    border-top: $text-color 1rem solid;
    box-shadow: 0rem -0.1rem 0.2rem $very-dark-grey;
}

footer>img {
    display: block;
    width: 50%;
    margin: auto;
    padding-top: 1rem;
}