// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------





// Regular font family
// @type List
$text-font-stack: 'Lucida-Sans-Unicode',
  'Lucida Sans',
  'Lucida Sans Regular',
  'Lucida Grande',
  'Lucida Sans Unicode',
  Geneva,
  Verdana,
  sans-serif;

// Header font family
// @type list
$header-font-stack: 'antonregular',
  'changa_oneregular',
  Impact,
  Haettenschweiler,
  'Arial Narrow Bold',
  sans-serif;

// Code (monospace) font family
// @type List
$code-font-stack: 'Courier New', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Monaco', monospace !default;

// Base size
// @type Number
$text-size: 18px;

// default letter spacing
// @type Number
$letter-spacing: -0.015em;


// Background color
// @type Color
$backgr-color: rgb(249, 249, 249) !default;

// Copy text color
// @type Color
$text-color: rgb(109, 19, 19) !default;

// Main brand color
// @type Color
$brand-color: rgb(255, 203, 32) !default;

// Main link color
// @type Color
$link-color: rgb(173, 216, 230) !default;

// Light grey
// @type Color
$light-grey: rgb(237, 237, 237) !default;

// Medium grey
// @type Color
$mid-grey: rgb(153, 153, 153) !default;

// Dark grey
// @type Color
$dark-grey: rgb(68, 68, 68) !default;

// Very dark grey
// @type Color
$very-dark-grey: rgb(51, 51, 51) !default;



// Container's maximum width
// @type Length
$max-width: 1180px !default;





// Breakpoints map
// @prop {String} keys - Keys are identifiers mapped to a given length
// @prop {Map} values - Values are actual breakpoints expressed in pixels
$breakpoints: (
  'small': 320px,
  'medium': 768px,
  'large': 1024px,
  ) !default;






// Relative or absolute URL where all assets are served from
// @type String
// @example scss - When using a CDN
//   $base-url: 'https://cdn.example.com/assets/';
$base-url: '../assets/' !default;