// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
    font-family: 'retrofestregular';
    src: font('retrofest/retrofest-webfont.woff2') format('woff2'),
        font('retrofest/retrofest-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blokletters_potlood';
    src: font('blokletterspotlood_potlood_macroman/Blokletters-Potlood-webfont.woff2') format('woff2'),
        font('blokletterspotlood_potlood_macroman/Blokletters-Potlood-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blokletters_balpenbalpen';
    src: font('bloklettersbalpen_balpen_macroman/Blokletters-Balpen-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'blokletters_viltstifviltstift';
    src: font('bloklettersviltstift_viltstift_macroman/Blokletters-Viltstift-webfont.woff2') format('woff2'),
        font('bloklettersviltstift_viltstift_macroman/Blokletters-Viltstift-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'changa_oneitalic';
    src: font('changa_one/changaone-italic-webfont.woff2') format('woff2'),
        font('changa_one/changaone-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'changa_oneregular';
    src: font('changa_one/changaone-regular-webfont.woff2') format('woff2'),
        font('changa_one/changaone-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'antonregular';
    src: font('anton/anton-regular-webfont.woff2') format('woff2'),
        font('anton/anton-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Lucida-Sans-Unicode';
    src: font('lucida-sans-unicode/Lucida-Sans-Unicode.ttf.woff') format('woff'),
        font('lucida-sans-unicode/Lucida-Sans-Unicode.ttf.svg') format('svg'),
        font('lucida-sans-unicode/Lucida-Sans-Unicode.ttf.eot'),
        font('lucida-sans-unicode/Lucida-Sans-Unicode.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}